/* ProfilePage.css */
.profile-card {
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 0;
  left: 0;
}



.edit-button {
  background-color: #4caf50;
  color: white;
  border: none; /* Remove the border */
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.edit-button:hover {
  background-color: #45a049;
}

/* Styling for DataTable */
.data-table-container {
  width: 100%;
}

.MuiDataGrid-root {
  font-size: 16px;
  border: 1px solid #ddd;
  border-collapse: collapse;
}

.MuiDataGrid-root .MuiDataGrid-cell {
  border: 1px solid #ddd;
  padding: 8px 16px;
  text-align: left;
}

.MuiDataGrid-root .MuiDataGrid-row {
  background-color: #f9f9f9;
}

.MuiDataGrid-root .MuiDataGrid-row:nth-child(even) {
  background-color: #f1f1f1;
}

.MuiDataGrid-root .MuiDataGrid-row:hover {
  background-color: #f0f0f0;
}

.MuiDataGrid-root .MuiDataGrid-columnHeader {
  font-weight: bold;
  background-color: #f9f9f9;
  text-align: left;
  border: 1px solid #ddd;
  padding: 8px 16px;
}

.MuiDataGrid-root .MuiDataGrid-columnHeader:hover {
  background-color: #f1f1f1;
}
